* {
    box-sizing: border-box;
}
body, h1, h2, h3, h4 {
    font-family: sans-serif;
    margin: 0;
}
header {
    background-color: #85c4ff;
    font-size: 24px;
    line-height: 28px;
    padding: 40px;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
header nav a {    
    color: black;
    font-weight: bold;
    margin: 0 15px;
    padding: 5px;
    text-decoration: none;
}
header nav a:last-of-type {
    margin-right: 0px;
}
header nav a:first-of-type {
    margin-left: 0px;
}
section.section-elemnt {
    margin: 0px;
    padding: 40px;
}
section.box-model-section {
    background-color: #CFF1CA;
    padding: 40px;
}
.interior h1{
    color: black;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 45px;
}
.interior h2{
    color: black;
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
}
.interior p{
    color: black;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}
.box-model-interior {
    background-color: #9ef490;
    border: 10px solid #187908;
    min-height: 600px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px;
    width: 100%;
}
section.flex-box-section {
    background-color: #F1D3CA;
    min-height: 600px;
    padding: 40px;
}
section.positioning-section {
    background-color: #CAD7F1;
    margin: 0 auto;
    min-height: 680px;
    padding: 40px;
}
.positioning-section .interior{
    background-color: #85C4FF;
    border: 10px solid #0E3F9E;
    height: 606px;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 40px;
    position: relative;
    width: 100%;
}
section.heading-section {
    background-color: #F1CAF0;
    margin: 0 auto;
    min-height: 558px;
}
section.javascript-section {
    background-color: #FAEFD3;
    height: 410px;
    padding-bottom: 35px;
    padding-left: 48px;
    padding-right: 32px;
    padding-top: 36px;
}
footer {
    align-content: center;
    background-color: #FFC3C3;
    display: grid;
    height: 108px;
    padding: 40px;
}
.heading-intertior {
    max-width: 1200px;
    margin: 0 auto;
}
.heading-usage-text {
    color: #3A0F39;
    font-weight: 700;
    margin: 0 auto;
    padding: 40px;
}
.heading-usage-text h1 {
    color: #6C0468;
    font-size: 64px;
    line-height: 74px;
    margin-bottom: 25px;
}
.heading-usage-text h2 {
    color: #6C0468;
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 25px;
}
.heading-usage-text h3 {
    color: #6C0468;
    font-size: 64px;
    line-height: 74px;
    margin: 0;

}
.heading-usage-text h4 {
    color: #6C0468;
    font-size: 36px;
    line-height: 41px;
}
.heading-usage-text p {
    color: #3A0F39;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 45px;
}
.footer-text {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.footer-text p {
    color: black;
    font-size: 24px;
}
.interior-flex  {
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
/*every div have these properties in interior flex*/
.interior-flex {
    display: flex;
    justify-content: center;
}

.interior-flex--top {
    border: 10px solid #7D260B;
    background-color: #FF9371;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 0 auto 40px auto;
    padding: 32px;
    text-align: center;
    width: 100%;
}
.interior-flex--top > div {
    align-items: center;
    border: 5px solid #DD4414;
    background-color: #FFECE5;
    display: flex;
    height: 170px;
    justify-content: center;
    max-width: 825px;
    width: 100%;
}
.interior-flex--top > div > h1 {
    margin: 0px;
}
.interior-flex--horizontal, 
.interior-flex--vertical {
    border: 10px solid #7D260B;
    display: flex;
    flex-basis: 50%;
    min-height: 325px;
    padding: 20px;
}
.interior-flex--horizontal > div, 
.interior-flex--vertical > div {
    border: 5px solid #DD4414;
    background-color: #FFECE5;
    flex-basis: 33%;
}
.interior-flex--vertical > div {
    margin-bottom: 20px;
}
.interior-flex--horizontal > div {
    margin-right: 20px;
}
.interior-flex--horizontal {
    background-color: #FF9371;
    display: flex;
    flex-direction: row;
    margin-right: 16px;
}
.interior-flex--vertical {
    background-color: #FF9371;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.interior-flex--horizontal > div:last-of-type {
    margin: 0;
}
.interior-flex--vertical > div:last-of-type {
    margin: 0;
}
.circle,
.square {
    border: 10px solid #0E3F9E;
    background-color: #4480F4;
    height: 200px;
    position: absolute;
    width: 200px;
}
.circle {
    border-radius: 50%;
}
.positioning-intertior{
    max-width: 1200px;
}
.positioning-section h1 {
    font-size: 64px;
    z-index: 1;
}
.interior-flex--bottom {
    display: flex;
    flex-direction: row;
}
.javascript-interior {
    border: 10px solid #644904;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 37px 38px;
}

.javascript-interior h1 {
    color: #644904;
    font-size: 64px;
}
.javascript-bottom {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.increase-button {
    background-color: #CDC5B1;
    border: 3px solid #79756C;
    font-size: 24px;
    height: 80px;
    margin-left: 35px;
    width: 276px;
}
.javascript-bottom p {
    color: #504D46;
    font-size: 64px;
}